:host {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  padding: .25em .5em;
  gap: .25em 2em;
  border-bottom: 1px solid var(--sci-color-border);
  align-items: center;

  &:first-of-type {
    border-top: 1px solid var(--sci-color-border);
  }

  > span.name {
    grid-row: 1/3;
  }

  > span.quantity, > span.price {
    grid-column: 2/3;
  }
}
