@use '@scion/components';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body, app-root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
}
